<ion-header>
  <ion-toolbar>
    <ion-icon name="menu" size="large" slot="start"></ion-icon>
    <ion-row>
      <ion-col >
        <div class="ion-text-center">
          <p><ion-img src="assets/logo.png" style="width: 50px;margin: 0 auto;"></ion-img></p>
        </div>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="alert">
    <p>Fill the form to generate the QR Code of your shipment</p>
  </ion-text>
  <ion-card>
    <ion-item>
      <ion-badge class="number blue" item-right>1</ion-badge>
      <ion-icon name="radio-button-off" class="blue" slot="start" style="margin:0;position: absolute;"></ion-icon>
      <ion-label class="blue">Ship from</ion-label>
      <ion-icon name="swap-horizontal" class="blue" slot="end"></ion-icon>
    </ion-item>
  
    <ion-card-content>

      <ion-item>
        <ion-label>
          jose
        </ion-label>
        <ion-icon name="person-circle" slot="start"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label>
          jose@binnet.co
        </ion-label>
        <ion-icon name="mail" slot="start"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-label>
          111111111 - Home
        </ion-label>
        <ion-icon name="phone-portrait" slot="start"></ion-icon>
      </ion-item>
      
      <ion-item>
        <ion-icon name="locate" slot="start"></ion-icon>
        <ion-label>
          1075 NA MIAMI GARDEN DR, MIAMI
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="code" slot="start"></ion-icon>
        <ion-label>
          FL, 33179-4600
        </ion-label>
      </ion-item>
      
      <ion-item>
        <ion-label>
          United States
        </ion-label>
        <ion-icon name="globe" slot="start"></ion-icon>
      </ion-item>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-badge class="number red" item-right>2</ion-badge>
      <ion-icon name="radio-button-off"  class="red" slot="start" style="margin:0;position: absolute;"></ion-icon>
      <ion-label class="red">Ship to</ion-label>
      <ion-icon name="add-circle" class="red" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-badge class="number red" item-right>3</ion-badge>
      <ion-icon name="radio-button-off" class="red" slot="start" style="margin:0;position: absolute;"></ion-icon>
      <ion-label class="red" >Address to</ion-label>
      <ion-icon class="red" name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-badge class="number" item-right>4</ion-badge>
      <ion-icon name="radio-button-off" slot="start" style="margin:0;position: absolute;"></ion-icon>
      <ion-label>Select Carrier</ion-label>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-badge class="number" item-right>5</ion-badge>
      <ion-icon name="radio-button-off" slot="start" style="margin:0;position: absolute;"></ion-icon>
      <ion-label>Select Service</ion-label>
      <ion-icon name="add-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-card>

  <ion-row>
    <ion-col>
      <div class="ion-text-center">
        <ion-button type="submit" expand="block" ><b>Next</b></ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
